@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap');

:root {
  --color-white: #fff;
  --color-primary: #00d4da;
  --color-secondary: #404040;
  --font-primary: 'Montserrat', sans-serif;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  font-weight: 400;
  line-height: 1.6;
}
