<div class="container mt-5">
  <pb-title [title]="'Status'" [subtitle]="'Webservices'"></pb-title>
  <form>
    <div class="form-group d-flex">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Search..."
      />
      <button type="submit" class="btn btn-primary ml-3">Submit</button>
    </div>
  </form>
  <div class="wrapper mt-5">
    <pb-status-list-item
      [statusListItem]="statusListItem"
    ></pb-status-list-item>
  </div>
</div>
