<a
  href="{{ ressourceListItem.link }}"
  target="_blank"
  class="list-group-item list-group-item-action flex-column align-items-start"
>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 text-primary">{{ ressourceListItem.title }}</h5>
    <div class="d-flex" *ngIf="ressourceListItem.tags">
      <span
        *ngFor="let tag of ressourceListItem.tags"
        class="d-inline-block ml-2 badge text-primary align-self-start"
        [ngClass]="{
          'badge-primary': tag.type === 'FRONTEND',
          'badge-secondary': tag.type === 'BACKEND',
          'badge-success': tag.type === 'INFRASTRUCTURE',
          'badge-info': tag.type === 'DESIGN',
          'badge-dark': tag.type === 'ARCHITECTURE'
        }"
        >{{ tag.name }}</span
      >
    </div>
  </div>
  <p class="mb-1">
    {{ ressourceListItem.description }}
  </p>
  <small class="text-muted">{{ trimmedLink }}</small>
</a>
