#tech-stack-section {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, minmax(min-content, 14rem)) [center-end] minmax(6rem, 1fr) [full-end];
}

.container {
  &--top {
    grid-row: 1 / 4;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, minmax(min-content, 14rem)) [center-end] minmax(6rem, 1fr) [full-end];
    background-image: linear-gradient(to top, rgba(64, 64, 64, .75) 60%, rgba(0, 212, 218, .6) 120%), url('/assets/img/back-img-tech.jpg');
    background-position: center center;
    background-size: cover;

    position: relative;
    padding-top: 8rem;

    & h2 {
      grid-row: 1 / 2;
      grid-column: center-start / center-end;
      align-self: center;

      text-align: center;
      color: var(--color-white);
    }

    &-text {
      grid-row: 2 / 3;
      grid-column: center-start / center-end;

      font-weight: 300;
      font-size: 2.5rem;
      letter-spacing: 1px;
      line-height: 140%;
      color: var(--color-white);
      text-align: center;
    }
  }

  &--bottom {
    grid-row: 5 / 6;
    grid-column: center-start / center-end;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 4rem 0;

    @media only screen and (max-width: 630px) {
      align-self: start;
    }
  }
}

.tech-stack--box {
  grid-row: 3 / 5;
  grid-column: center-start / center-end;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  align-content: center;

  background-color: var(--color-white);
  width: 100%;
  bottom: 0;
  border-radius: 10px;
  padding: 3rem 4rem;
  z-index: 1000;



  & img {
    max-height: 6rem;
    width: auto;
    margin-right: 1rem;

    @media only screen and (max-width: 630px) {
      margin-right: 3rem;
    }
  }

  &-1,
  &-2,
  &-3,
  &-4,
  &-5 {
    display: flex;
    align-items: center;
    font-size: 2rem;

    @media only screen and (max-width: 630px) {
      justify-self: center;
      font-size: 2.5rem;
    }
  }
}
