<section id="tech-stack-section">
  <div class="container--top">
    <h2>My Tech Stack</h2>
    <p class="container--top-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
  </div>
  <div class="tech-stack--box">
    <div class="tech-stack--box-1">
      <img src="/assets/img/angular-logo.png" alt="Angular Logo">
      <span>Angular</span>
    </div>
    <div class="tech-stack--box-2">
      <img src="/assets/img/typescript-logo.png" alt="TypeScript Logo">
      <span>TypeScript</span>
    </div>
    <div class="tech-stack--box-3">
      <img src="/assets/img/javascript-logo.png" alt="JavaScript Logo">
      <span>JavaScript</span>
    </div>
    <div class="tech-stack--box-4">
      <img src="/assets/img/sass-logo.png" alt="SASS Logo">
      <span>Sass</span>
    </div>
    <div class="tech-stack--box-5">
      <img src="/assets/img/nodejs-logo.png" alt="NodeJs Logo">
      <span>NodeJs</span>
    </div>
  </div>
  <div class="container--bottom">
    <a [routerLink]="['']" class="btn btn-primary">View all</a>
  </div>
</section>
