.subtitle {
  text-transform: uppercase;
  color: var(--color-primary);
  font-size: 1.8rem;
  line-height: 100%;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-size: 3.6rem;
  color: var(--color-grey-dark-2);
  font-weight: 500;
  line-height: 130%;
}

.link-see-more {
  color: var(--color-primary);
  font-size: 1.6rem;
  transition: all 0.3s ease;

  .arrow {
    font-size: 3rem;
    transition: all 0.3s ease;
  }

  &:hover,
  &:active {
    color: #ba265d;

    .arrow {
      margin-left: 5px;
    }
  }
}
