<footer>
  <ul class="footer-nav">
    <li><a href="https://www.xing.com/profile/Pascal_Bothner" rel="noopener noreferrer" target="_blank">Xing</a></li>
    <li><a href="https://www.instagram.com/pascalbothner/" rel="noopener noreferrer" target="_blank">Instagram</a></li>
    <li class="footer--headline"><h3><span class="highlight">pb</span>Design.</h3></li>
    <li><a href="https://www.xing.com/profile/Pascal_Bothner" rel="noopener noreferrer" target="_blank">Contact</a></li>
    <li><a href="https://www.xing.com/profile/Pascal_Bothner" rel="noopener noreferrer" target="_blank">Impressum</a></li>
  </ul>
  <span class="copyright mb-xs">Made with &hearts; by &copy; Pascal Bothner 2019</span>
</footer>
