<section class="beach-destinations-section container-grid">
  <div class="section-title">
    <trav-title
      [titleConfig]="{
        title: 'Let´s go to the beach',
        subtitle: 'Beautiful Beaches',
        link: '#'
      }"
    ></trav-title>
  </div>
  <div class="cards">
    <trav-card-upright
      [cardConfig]="{
        title: 'Majorca',
        ctaText: 'View Properties',
        backgroundImagePath: '/assets/img/card/lisbon.jpg',
        link: ''
      }"
    ></trav-card-upright>
    <trav-card-upright
      [cardConfig]="{
        title: 'Dominician Republic',
        ctaText: 'View Properties',
        backgroundImagePath: '/assets/img/card/lisbon.jpg',
        link: ''
      }"
    ></trav-card-upright>
    <trav-card-upright
      [cardConfig]="{
        title: 'Bali',
        ctaText: 'View Properties',
        backgroundImagePath: '/assets/img/card/lisbon.jpg',
        link: ''
      }"
    ></trav-card-upright>
    <trav-card-upright
      [cardConfig]="{
        title: 'Ibiza',
        ctaText: 'View Properties',
        backgroundImagePath: '/assets/img/card/lisbon.jpg',
        link: ''
      }"
    ></trav-card-upright>
  </div>
</section>
