.beach-destinations-section {
  grid-column: 1 / -1;

  grid-template-rows: minmax(9rem, 1fr) min-content min-content minmax(
      9rem,
      1fr
    );

  .section-title {
    grid-row: 2 / 3;
    grid-column: center-start / center-end;
  }

  .cards {
    grid-row: 3 / 4;
    grid-column: center-start / center-end;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }
}
