<section class="spotlight">
  <div class="spotlight--picture"></div>
  <div class="spotlight-content">
    <trav-title
      [titleConfig]="{
        title: 'Enjoy the sun of Majorca',
        subtitle: 'Spotlight'
      }"
    ></trav-title>
    <div class="spotlight-content--text">
      This beatuiful mediterranean finca with <b>4 bedrooms</b> is located near
      the <b>city of Arta.</b> Lorem ipsum dolor sit amet, consetetur sadipscing
      elitr, sed diam nonumy eirmod tempor invidunt. At vero
      <b>eos et accusam et</b>
      justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
      sanctus est Lorem ipsum dolor sit amet.
    </div>
    <a href="#" class="btn btn-primary">Discover</a>
  </div>
</section>
