<div class="container mt-5">
  <app-title [title]="'Ressources'" [subtitle]="'Knowledge Database'"></app-title>
  <div class="wrapper mt-4">
    <app-search
      (submitSearchValue)="onSearch($event)"
      (selectedFilterValue)="onFilterSelect($event)"
      [filters]="tags"
    ></app-search>
    <!-- TODO Filter -->
  </div>
  <div class="list-group mt-5">
    <app-ressource-list-items
      *ngFor="let ressourceItem of sortedRessourceItems"
      [ressourceListItem]="ressourceItem"
    ></app-ressource-list-items>
  </div>
</div>
