<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" [routerLink]="'/'">Admin App</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
    aria-controls="navbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav mr-auto">
      <a
        class="nav-item nav-link"
        [routerLink]="'/'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        >Home <span class="sr-only">(current)</span></a
      >
      <a class="nav-item nav-link" [routerLink]="'/status'" routerLinkActive="active">Status</a>
      <a class="nav-item nav-link" [routerLink]="'/jobs'" routerLinkActive="active">Jobs</a>
      <a class="nav-item nav-link" [routerLink]="'/ressources'" routerLinkActive="active">Ressources</a>
    </div>
    <a class="nav-item nav-link" href="#">Pascal Bothner</a>
  </div>
</nav>
