<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" [routerLink]="'/'">Admin App</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
    aria-controls="navbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link active" href="#"
        >Home <span class="sr-only">(current)</span></a
      >
      <a class="nav-item nav-link" href="#">Status</a>
      <a class="nav-item nav-link" href="#">Jobs</a>
    </div>
    <a class="nav-item nav-link" href="#">Pascal Bothner</a>
  </div>
</nav>
<main>
  <div class="container mt-5">
    <ul class="list-group">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Website
        <span class="badge badge-success badge-pill">Running</span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Search Engine
        <span class="badge badge-danger badge-pill">Error</span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Organizer-App
        <span class="badge badge-primary badge-pill">Offline</span>
      </li>
    </ul>
  </div>
</main>
