<a
  href="{{ ressourceListItem.link }}"
  target="_blank"
  class="list-group-item list-group-item-action flex-column align-items-start"
>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 text-primary">{{ ressourceListItem.title }}</h5>
    <span class="d-inline-block ml-2 badge badge-primary text-primary align-self-start">JavaScript</span>
  </div>
  <p class="mb-1">
    {{ ressourceListItem.description }}
  </p>
  <small class="text-muted">{{ trimmedLink }}</small>
</a>
