<div class="global-search">
  <div class="input-container">
    <span class="label">Destination</span>
    <input type="text" class="global-search-input" placeholder="Amsterdam" />
  </div>
  <div class="input-container">
    <span class="label">Dates</span>
    <input
      type="text"
      class="global-search-input"
      placeholder="23.03.2020 - 26.03.2020"
    />
  </div>
  <div class="input-container">
    <span class="label">Travellers</span>
    <input type="text" class="global-search-input" placeholder="2 Persons" />
  </div>
  <a role="button" class="btn-cta">Search</a>
</div>
