<header class="header">
  <div class="header--top">
    <div class="heading-container">
      <h1 class="heading-primary">Travelency</h1>
      <h1 class="heading-secondary">your online travel agency</h1>
      <trav-landing-page-global-search></trav-landing-page-global-search>
    </div>
  </div>
  <div class="header--bottom">
    <div class="section-title">
      <trav-title
        [titleConfig]="{
          title: 'Some of our favorites',
          subtitle: 'Cities',
          link: ''
        }"
      ></trav-title>
    </div>
    <div class="cards">
      <trav-card-upright
        [cardConfig]="{
          title: 'Lisbon',
          ctaText: 'View Properties',
          backgroundImagePath: '/assets/img/card/lisbon.jpg',
          link: ''
        }"
      ></trav-card-upright>
      <trav-card-upright
        [cardConfig]="{
          title: 'Lisbon',
          ctaText: 'View Properties',
          backgroundImagePath: '/assets/img/card/lisbon.jpg',
          link: ''
        }"
      ></trav-card-upright>
      <trav-card-upright
        [cardConfig]="{
          title: 'Lisbon',
          ctaText: 'View Properties',
          backgroundImagePath: '/assets/img/card/lisbon.jpg',
          link: ''
        }"
      ></trav-card-upright>
      <trav-card-upright
        [cardConfig]="{
          title: 'Lisbon',
          ctaText: 'View Properties',
          backgroundImagePath: '/assets/img/card/lisbon.jpg',
          link: ''
        }"
      ></trav-card-upright>
    </div>
  </div>
</header>
