.header {
  text-align: center;
  height: 100vh;

  &--top {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('/assets/img/hero-img.jpg');
    background-position: center 80%;
    background-size: cover;
  }

  &--top,
  &--bottom {
    height: 50%;
  }
}

.heading {
  &-primary {
    color: var(--color-primary);
    font-size: 8rem;
    font-weight: 300;
    line-height: 140%;
    text-transform: uppercase;
  }

  &-secondary {
    color: #ffffff;
    font-size: 4.5rem;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 100%;
    margin-bottom: 9rem;
  }
}
