#section--recent-work {
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, minmax(min-content, 14rem)) [center-end] minmax(6rem, 1fr) [full-end];
  text-align: center;
  padding: 4rem 0;

  & h2 {
    grid-row: 1 / 2;
    grid-column: center-start / center-end;
    margin-bottom: 2rem;
  }

  & .projects {
    grid-row: 2 / 3;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-rows: repeat(2, minmax(20rem, max-content));
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 3rem;
  }

  & .btn {
    grid-row: 3 / 4;
    grid-column: center-start / center-end;
  }
}
